<!DOCTYPE html>
<html>
<head>
    <title>Da Blog</title>
</head>
<body>
<div id='blog'>


</div>
</body>

<script type="text/template" id="entryViewTemplate">
<div class="entryView">
    <div><%= title %></div>
    <div><%= content %></div>
    <button id="edit">Edit</button>
</div>

</script>

<script type="text/template" id="editEntryTemplate">
<div id="edit">
    <form id="editEntry">
        <div>
        <label for="title">Title:</label><input id="title" type="text"><br>
        <label for="content">Content:</label><textarea id="content" type="text"></textarea>
            <button id="save">Save</button>
        </div>
    </form>

</div>

</script>




<script src = "js/lib/jquery.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/models/Entry.js"></script>
<script src="js/collections/Blog.js"></script>
<script src="js/views/EntryView.js"></script>
<script src="js/views/BlogView.js"></script>
<script src="js/app.js"></script>

</html>