<!DOCTYPE html>
<html>
<head>
    <title>Da Blog</title>
</head>
<body>

<div id='blog'>
    <div class="createTemp">
        <form id="createEntry" action="#">
            <div>
                <label for="title">Title:</label><input id="title" type="text" ><br>
                <label for="content">Content:</label><input id="content" type="text">
                <button id="createTemp">Create</button>
            </div>
        </form>

    </div>

</div>

<div id='create'></div>
<div id='edit'></div>

</body>

<script type="text/template" id="entryViewTemplate">

<div class="entryView">

    <div id="title"><h1><%= title %></h1></div>
    <div id="content"><%= content %></div>
    <button id="edit">Edit</button>

</div>


</script>

<script type="text/template" id="editEntryTemplate">
<div class="edit">
    <form id="editEntry" action="#">
        <div>
        <label for="title">Title:</label><input id="title" type="text" value="<%= title %>"><br>
        <label for="content">Content:</label><input id="content" type="text" value="<%= content %>">
            <button id="save">Save</button>
        </div>
    </form>

</div>
</script>


<script type="text/template" id="createEntryTemplate">
<div class="create">
    <form id="createEntry" action="#">
        <div>
        <label for="title">Title:</label><input id="title" type="text" ><br>
        <label for="content">Content:</label><input id="content" type="text">
            <button id="create">Create</button>
        </div>
    </form>

</div>


</script>




<script src = "js/lib/jquery.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/models/Entry.js"></script>
<script src="js/collections/Blog.js"></script>
<script src="js/views/EntryView.js"></script>
<script src="js/views/BlogView.js"></script>
<script src="js/app.js"></script>

</html>